/*VARIABLES*/
:root{ 
    --colorazul:#2f64d6;
    --coloramarillo:#f8db27;
    --colormarron:#9c5b01;
    --colorblanco:#ffffff;
    --colorrosa:#ff81c1;
}

/*NAVBAR*/
.navbar{
    background-color: var(--colormarron);
}