/* CSS PARA CELULAR */

/*VARIABLES*/
:root{    
    --colornavbar:hsla(0, 17%, 17%, 0.314);
    --colorprincipal:hwb(0 40% 51% / 0.524);
    --colorsecundario:hsla(0, 0%, 0%, 0.685);
    --colorblanco:hsl(0, 0%, 100%);
    --colorcard:hwb(120 7% 63% / 0.737);
    --colorcontendor:hwb(123 0% 1% / 0.497);
}

*{
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
.nav{
    display: flex;
    z-index: 1;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: var(--colornavbar);
}

.nav h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    position: relative;
    top: 8px;
    left: 55px;
    color: var(--colorblanco);
}

.nav h2 a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    position: relative;
    top: 6px;
    left: 33px;
    color: var(--colorblanco);
}

.nav img{
    display: flex;
    position: relative;
    left: -200px;
    top: 4px;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
}

/*MAIN*/
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorcontendor);
    padding-top: 110px;
    padding-bottom: 120px;
}

.formulario form label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: var(--colorcard);
    display: flex;
}

.formulario form input{
    margin: 10px;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    color: var(--colorcard);
}

.formulario .submit{
    display: flex;
    position: relative;
    left: 50px;
    background-color: var(--colorcard);
    color: var(--colorblanco);
    width: 100px;
    border-radius: 20px;
    border: none;
    margin: 15px;
}

/*FOOTER*/
.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--colorcard);
    padding: 20px;
}

.contenedor-footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--colorblanco);
    padding: 5px;
}

.contenedor-footer a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--colorcontendor);
}

/*RESPONSIVE*/
/* Que el navegador tenga al menos 768px de ancho */
@media (min-width: 768px) {
    .nav{
        height: 70px;
    }

    .nav h1{
        font-size: 35px;
        top: 15px;
    }

    .nav img{
        width: 60px;
        height: 60px;
        top: 5px;
        left: -580px;
        filter: grayscale(1);
        transition: 0.5s ease-in-out;
    }

    .nav h2 a{
        font-size: 15px;
        top: 20px;
        left: 280px;
        transition: 0.5s ease-in-out;
    }

    .nav h2 a:hover{
        color: var(--colorcard);
        transition: 0.5s ease-in-out;
        font-size: 20px;
    }
    
    .nav img:hover{
        transform: scale(1.1);
        filter: grayscale(0);
        transition: 0.5s ease-in-out;
    }

    .formulario{
        padding-top: 95px;
        padding-bottom: 50px;
    }

    .formulario form label{
        font-size: 25px;
    }

    .formulario form input{
        text-align: center;
        width: 300px;
        font-size: 20px;
        margin: 15px;
    }

    .formulario .submit{
        left: 80px;
        cursor: pointer;
        width: 150px;
    }

}