/*VARIABLES*/
:root{
    --colorpurple:#3B1F2B;
    --colorred:#DB162F;
    --colorvanilla:#DBDFAC;
    --colorgray:#5F758E;
    --colorblue:#383961;
}

*{
    margin: 0;
    padding: 0;
}

/*BODY*/
body{
    background-color:var(--colorvanilla) !important;
}

/*HEADER*/
/*NAVBAR*/
nav{
    background-color: var(--colorgray);
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

/*MAIN*/
/*CAROUSEL*/
.img-carrousel{
    height: 65vh;
}

.titulo-carrousel{
    background-color: var(--colorblue);
    width: 135px;
    position: relative;
    left: 450px;
}

.p-carrousel{
    background-color: var(--colorblue);
    width: 430px;
    position: relative;
    left: 300px;
}

/*CARD*/
div.card{
    background-color: var(--colorblue);
    border-radius: 20px;
}

img.card-img-top{
    border-radius: 30px;
}

a.card-btn{
    background: var(--colorgray);
    transition: 0.5s ease-in-out;
}

a.card-btn:hover{
    background: var(--colorpurple);
    transition: 0.5s ease-in-out;
    color: white;
}

/*FOOTER*/
footer{
    background-color: var(--colorpurple);
}

a.icon-link {
    transition: 0.5s ease-in-out;
}

a.icon-link:hover{
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}