html{
    background-color: silver;
}

/*NAVBAR*/

#menu{
    margin-left: 2px;
    font-size: 13px;
    text-align: center;
}

.menus{
    text-decoration: none;
    color: hsla(0, 99%, 48%, 0.816);
    padding-right: 100px;
}

/*MAIN*/

h1{
    font-size: 35px;
    color: brown;
    text-align: center;
}

#centro {
    border : 5px outset #a40c0ccd;
    font-size: 20px;
    color: brown;
    padding: 10px;
}

h4{
    padding-left: 15px;
}

.content{
    padding-left: 25%;
}


p{
    font-size: 15px;
    color: rgba(69, 3, 3, 0.875);
}

#puntuacion{
    color: #0000008b;
    font-size: 20px;
    padding-left: 85%;
}

/*FOOTER*/

#myfooter{
    font-size: 15px;
    text-decoration: none;
}