html{
    background-color: silver;
}

/*NAVBAR*/

#nav{
    font-size: 13px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 20vw;
    background: rgba(255, 25, 25, 0.553);
    margin: 10px;
}

.menus{
    text-decoration: none;
    color: #fff;
    padding-right: 100px;
}

/*MAIN*/

h1{
    margin-top: 50px;
    font-size: 35px;
    color: brown;
    text-align: center;
}

#centro {
    border : 5px outset #a40c0ccd;
    font-size: 20px;
    color: brown;
    padding: 10px;
}

h4{
    padding-left: 15px;
}

.img-hombre{
    padding-left: 25%;
}

.video-youtube{
    padding-left: 25%;
}

p{
    font-size: 15px;
    color: rgba(69, 3, 3, 0.875);
    font-weight: bold; 
    line-height: 1.5;
}

#puntuacion{
    color: #0000008b;
    font-size: 20px;
    padding-left: 85%;
}

/*FOOTER*/

footer{
    margin-left: 10px;
}

#myfooter p{
    position: relative;
    left: 75vw;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    width: 210px;
    font-weight: bold;
    color: brown;
}

#myfooter a{
    margin-left: 59px;
    font-size: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

/* RESPONSIVE */

@media(max-width: 600px) {
    #nav{
        left: 0;
    }
    .menus{
        padding-right: 50px;
    }
    .img-hombre{
        position: relative;
        left: -140px;
        width: auto;
    }
    .video-youtube{
        position: relative;
        left: -140px;
    }
    #myfooter p{
        left: 60vw;
    }
}